In [54]:
# Manipulacion de datos y funciones matemáticas
import pandas as pd
import numpy as np

# Visualizaciones
import seaborn as sns
import matplotlib.pyplot as plt

# Modelo Lineal
from sklearn.linear_model import LinearRegression

# Metricas para evaluar modelos
from sklearn import metrics

# Descargar datos de Yahoo Finance
import yfinance as yf

# mlfinlab sirve para hacer backtesting.
import mplfinance as mpf

# Descargar datos de Yahoo Finance
from pandas_datareader import data as pdr

In [121]:
# read by default 1st sheet of an excel file
stock_list = pd.read_excel("H:\code_yfinance\Stock_Market\data\stock_list.xlsx")
stock_list

        date stock  price open  size
0 2015-01-01  INTC          32   100
1 2015-01-02    KO          64   100
2 2015-01-03  AMZN         106   100

Tener presente que los datos por hora solo estan disponibles en los dos ultimos años.

In [49]:
# Descargar datos de Yahoo Finance y guardarlos en un dataframe.
data = pdr.get_data_yahoo(stock_list.stock.to_list(), start="2015-01-01", end="2023-03-01",  interval='1d')
data

[*********************100%***********************]  3 of 3 completed

            Adj Close                            Close
                 AMZN       INTC         KO       AMZN       INTC         KO
Date
2015-01-02  15.426000  28.581629  32.347385  15.426000  36.360001  42.139999  \
2015-01-05  15.109500  28.259346  32.347385  15.109500  35.950001  42.139999
2015-01-06  14.764500  27.732672  32.593006  14.764500  35.279999  42.459999
2015-01-07  14.921000  28.314369  32.999855  14.921000  36.020000  42.990002
2015-01-08  15.023000  28.841036  33.399017  15.023000  36.689999  43.509998
...               ...        ...        ...        ...        ...        ...
2023-02-22  95.790001  25.469999  59.523426  95.790001  25.469999  59.980000
2023-02-23  95.820000  25.610001  59.632587  95.820000  25.610001  60.090000
2023-02-24  93.500000  25.139999  59.384491  93.500000  25.139999  59.840000
2023-02-27  93.760002  24.900000  59.364643  93.760002  24.900000  59.820000
2023-02-28  94.230003  24.930000  59.057003  94.230003  24.930000  59.509998

                 High                              Low
                 AMZN       INTC         KO       AMZN       INTC         KO
Date
2015-01-02  15.737500  37.160000  42.400002  15.348000  36.110001  41.799999  \
2015-01-05  15.419000  36.450001  42.970001  15.042500  35.939999  42.080002
2015-01-06  15.150000  36.230000  42.939999  14.619000  35.259998  42.240002
2015-01-07  15.064000  36.070000  43.110001  14.766500  35.270000  42.580002
2015-01-08  15.157000  37.000000  43.570000  14.805500  36.259998  43.099998
...               ...        ...        ...        ...        ...        ...
2023-02-22  97.010002  26.900000  60.360001  94.800003  25.299999  59.750000
2023-02-23  96.430000  26.080000  60.419998  93.669998  25.320000  59.810001
2023-02-24  94.139999  25.350000  59.910000  92.320000  24.920000  59.389999
2023-02-27  94.779999  25.580000  60.299999  93.139999  24.879999  59.740002
2023-02-28  94.690002  25.120001  59.700001  92.919998  24.730000  59.139999

                 Open                          Volume
                 AMZN       INTC         KO      AMZN      INTC        KO
Date
2015-01-02  15.629000  36.669998  42.259998  55664000  23605600   9921100
2015-01-05  15.350500  36.200001  42.689999  55484000  32785000  26292600
2015-01-06  15.112000  36.080002  42.410000  70380000  30847600  16897500
2015-01-07  14.875000  35.639999  42.799999  52806000  27725200  13412300
2015-01-08  15.016000  36.369999  43.180000  61768000  31765400  21743600
...               ...        ...        ...       ...       ...       ...
2023-02-22  95.099998  25.910000  59.849998  59534100  89195300  12409600
2023-02-23  96.120003  25.780001  60.009998  48467000  56473200  12222800
2023-02-24  93.529999  25.219999  59.680000  57053800  44089900   9736200
2023-02-27  94.279999  25.549999  60.180000  47470300  37657000   8849800
2023-02-28  93.139999  24.940001  59.700001  43959300  50255300  16082200

[2053 rows x 18 columns]

Creamos un nuevo data frame con los columnas de interes al igual que excel.
- Leamos un archivo excel donde estan la accion y el precion de apertura. Creamos un data frame con el pnl 
y porcentaje de ganancia.

In [1]:
df = pd.DataFrame(columns=['name_ticker', 'date', 'size', 'price_open', 'price_actual', 'PNL', 'poceentaje_PNL'])
# agrefo una columna con el nombre del ticker
df['name_ticker'] = stock_list['stock']
df['date'] = stock_list['date']
df['size'] = stock_list['size']
df['price_open'] = stock_list['price open']

# Obtenemos los datos en tiempo real.
data = pdr.get_data_yahoo(stock_list.stock.to_list(), period="1m",  interval='1m')

# Adignamos el precio actual a cada ticker.
data_dict = data['Close'].to_dict(orient='records')[0]
df['price_actual'] = df['name_ticker'].map(data_dict )

# Calculamos el PNL y el porcentaje de PNL
df['poceentaje_PNL'] = - (df['price_open'] - df['price_actual']) / df['price_open'] * 100
df['PNL'] = df['size'] * df['poceentaje_PNL'] / 100

df

NameError: name 'pd' is not defined